.offer-card-img {
  min-width: 260px;
  min-height: 200px;
}

.offer-card-img-sm {
  min-width: 156px;
  min-height: 120px;
}

.offer-card-badge {
  top: -5px !important;
  left: -5px !important;
}

.offer-card-column {
  width: 260px;
}
