html,
body {
  width: 100%;
  min-width: 1140px;
  margin: 0;
  padding: 0;
}

.app-dropdown-toggle::after {
  content: "▼";
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.3em;
  font-size: 0.7rem;
  border: none;
}
