@import "./common.less";

html,
body {
  width: 100%;
  min-width: 1140px;
  margin: 0;
  padding: 0;
}

.app-trasition {
  transition: color @transition-time, opacity @transition-time;
}

.app-opacity,
.app-hover-opacity:hover {
  opacity: 0.7;
}

.bg-primary {
  background-color: @primary-color !important;
}

.btn-primary {
  background-color: @primary-color;
  border-color: @primary-color;
}

.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  background-color: @primary-color-active;
  border-color: @primary-color-active;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: @primary-color-hover;
  border-color: @primary-color-hover;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary {
  background-color: @primary-color-active;
  border-color: @primary-color-active;
}

.btn-check:focus + .btn-primary {
  background-color: @primary-color-hover;
  border-color: @primary-color-hover;
}

.btn-light.active,
.btn-light:active,
.btn-light:focus,
.btn-light:hover {
  background-color: @btn-light-active-bgr-color;
  border-color: @btn-light-active-border-color;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: @primary-color;
}

.app-font {
  font-style: italic;
  font-weight: bold;
}

.app-title {
  font-size: 2rem;
  .app-font;
}

.app-subtitle {
  font-size: 1.5rem;
  .app-font;
}

.app-disabled {
  opacity: 0.5;
  pointer-events: none;
  text-shadow: none;
  cursor: initial;
}

.app-dropdown-toggle-mixin {
  content: "▼";
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.3em;
  border: none;
}

.app-dropdown-toggle::after {
  margin-top: 2px;
  font-size: 0.7rem;
  .app-dropdown-toggle-mixin;
}

.app-dropdown-toggle-sm::after {
  margin-top: 2px;
  font-size: 0.55rem;
  .app-dropdown-toggle-mixin;
}

.app-full-viewport {
  width: 100%;
  height: 100vh;
}

.app-skewed-pos-15 {
  transform: skew(15deg);
}

.app-skewed-neg-15 {
  transform: skew(-15deg);
}

.app-spinner {
  position: fixed;
  z-index: 100000;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
  border: 16px solid @bgr-primary-color;
  border-top: 16px solid @primary-color;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.app-form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.app-form-control {
  padding: 0.65rem 0.75rem;
}

.app-form-control-error {
  margin-top: 0.2rem;
  text-align: left;
  text-indent: 0.35rem;
  color: @error-color;
}

.app-form-submit {
  width: 100%;
  padding: 0.75rem;
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-title {
  margin: 2rem 0;
}

.page-form {
  width: 450px;
}

.fs-5-1 {
  font-size: 1.2rem;
}

.fs-5-2 {
  font-size: 1.15rem;
}

.fs-5-3 {
  font-size: 1.1rem;
}

.fs-5-4 {
  font-size: 1.05rem;
}

.fs-6-1 {
  font-size: 0.95rem;
}

.fs-6-2 {
  font-size: 0.9rem;
}

.fs-6-3 {
  font-size: 0.85rem;
}

.fs-6-4 {
  font-size: 0.8rem;
}

.fs-6-5 {
  font-size: 0.75rem;
}

.lh-md {
  line-height: 1.75em;
}
